{% extends 'base.html' %}

{% block content %}
    <main>
        <tables>
        <thead>
            <th>Name</th>
            <th>Number of Receipts</th>
        </thead>
        <tbody>
            {% for dog in expenses_list %}
            <tr>
                <td>{{dog.name}}</td>
                <td>{{dog.receipts.all|length}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </main>
    {%endblock content%}

