{%extends 'base.html'%}

{%block content%}
<!DOCTYPE html>
<html lang="en">
    <title>LOGGED OUT</title>
    <head>
        <body>
            <header>
                <h1> Logged out </h1>
            </header>
        </body>
    </head>
</html>
{%endblock content%}