{%extends 'base.html'%}

{%block content%}
<!DOCTYPE html>
<html lang="en">
    <title></title>
    <head>
        <main>
            <form method="post">
                {% csrf_token %}
                <p>
                </p>
                {{ form.as_p }}
                <div>
                    <button>Login</button>
                </div>
            </form>
        </main>
    </body>
</html>
<body>
</body>
</head>
</html>
{%endblock content%}