<!DOCTYPE html>
<html lang="en">
    <title></title>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <body>
            <header>
                <nav>
                    <ul>
                        {% if user.is_authenticated %}
                            <li>
                                <a href="{% url 'logout' %}">Logout</a>
                                <a href="{% url 'receipts_list'%}">Receipts</a>
                                <a href="{% url 'receipts_create'%}">Create receipt</a>
                                <a href="{% url 'expenses_list'%}">Category</a>
                                <a href="{% url 'expenses_create'%}">Create category</a>
                                <a href="{% url 'account_list'%}">Account</a>
                                <a href="{% url 'account_create'%}">Create account</a>
                                
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'signup' %}">Sign up</a>
                                <a href="{% url 'login' %}">Login</a>
                            {% endif %}
                        </li>
                    </ul>
                </body>
            </head>
        </html>
        {% block content %}
        {% endblock content %}
