{% extends 'base.html' %}
{% block content %}
    <main>
        <tables>
        <thead>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
        </thead>
        <tbody>
            {% for cat in receipts_list %}
                <tr>
                    <td>{{ cat.vendor }}</td>
                    <td>{{ cat.total }}</td>
                    <td>{{ cat.tax }}</td>
                    <td>{{ cat.date }}</td>
                    <td>{{ cat.purchaser }}</td>
                    <td>{{ cat.category }}</td>
                    <td>{{ cat.account }}</td>
                </tr>
            </tbody>
            {% endfor %}
        
    </main>
{% endblock content %}
